<h1>Edit Event</h1>
<%= form_for @event do |f| %>
<div>
  <%= f.label :date %>
  <%= f.date_field :date %>
</div>
<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>
<div>
  <%= f.label :description %>
  <%= f.text_field :location %>
</div>
<div>
  <%= f.label :capacity %>
  <%= f.number_field :capacity %>
</div>
<div>
  <%= f.label :requires_id, 'Requires ID?' %>
  <%= f.check_box :requires_id %>
</div>
<div>
  <%= f.submit 'Update Event'%>
</div>
<% end %>
